<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BusinessSongMapper">
    <sql id="Base_Column_List">
		id id,
		is_open isOpen,
		is_spell isSpell,
		song_spell_num songSpellNum,
		song_much songMuch,
		start_time startTime,
		end_time endTime,
		limit_time limitTime,
		limit_num limitNum,
		limit_user_num limitUserNum,
		is_image isImage,
		image_time imageTime,
		song_repeat songRepeat,
		song_time songTime,
		divide_into divideInto,
		is_good_song isGoodSong,
		is_good_songer isGoodSonger,
		sys_divide_into
		sysDivideInto,
		business_id
		businessId
	</sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer"
            resultType="pd">
        select
        *
        from DZZBXX
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.czw.czw.model.BusinessSong">
		insert into business_song (
		is_open,
		is_spell,
		start_time,
		end_time,
		limit_time,
		limit_num,
		limit_user_num,
		is_image,
		image_time,
		song_repeat,
		song_time,
		divide_into,
		is_good_song,
		is_good_songer,
		sys_divide_into,
		business_id

		)
		values (
		#{isOpen,jdbcType=INTEGER},
		#{isSpell,jdbcType=INTEGER},
		#{startTime,jdbcType=VARCHAR},
		#{endTime,jdbcType=VARCHAR},
		#{limitTime,jdbcType=VARCHAR},
		#{limitNum,jdbcType=INTEGER},
		#{limitUserNum,jdbcType=INTEGER},
		#{isImage,jdbcType=INTEGER},
		#{imageTime,jdbcType=INTEGER},
		#{songRepeat,jdbcType=INTEGER},
		#{songTime,jdbcType=VARCHAR},
		#{divideInto,jdbcType=VARCHAR},
		#{isGoodSong,jdbcType=INTEGER},
		#{isGoodSonger,jdbcType=INTEGER},
		#{sysDivideInto,jdbcType=VARCHAR},
		#{businessId,jdbcType=INTEGER}
		)
	</insert>

    <update id="updateByPrimaryKey" parameterType="com.czw.czw.model.BusinessSong">
        update business_song set
        <if test="isOpen !=null and isOpen !=''">
            is_open = #{isOpen,jdbcType=INTEGER},
        </if>
        <if test="isSpell !=null and isSpell !=''">
            is_spell=#{isSpell,jdbcType=INTEGER},
        </if>
        <if test="songSpellNum !=null and songSpellNum !=''">
        song_spell_num =#{songSpellNum,jdbcType=INTEGER},
        </if>
        <if test="songMuch !=null and songMuch !=''">
        song_much =#{songMuch,jdbcType=VARCHAR},
        </if>
        <if test="startTime !=null and startTime !=''">
            start_time=#{startTime,jdbcType=VARCHAR},
        </if>
        <if test="endTime !=null and endTime !=''">
            end_time=#{endTime,jdbcType=VARCHAR},
        </if>
        <if test="limitTime !=null and limitTime !=''">
            limit_time=#{limitTime,jdbcType=VARCHAR},
        </if>
        <if test="limitNum !=null and limitNum !=''">
            limit_num=#{limitNum,jdbcType=INTEGER},
        </if>
        <if test="limitUserNum !=null and limitUserNum !=''">
            limit_user_num=#{limitUserNum,jdbcType=INTEGER},
        </if>
        <if test="isImage !=null and isImage !=''">
            is_image= #{isImage,jdbcType=INTEGER},
        </if>
        <if test="imageTime !=null and imageTime !=''">
            image_time= #{imageTime,jdbcType=INTEGER},
        </if>
        <if test="songRepeat !=null and songRepeat !=''">
            song_repeat= #{songRepeat,jdbcType=INTEGER},
        </if>
        <if test="songTime !=null and songTime !=''">
            song_time= #{songTime,jdbcType=VARCHAR},
        </if>
        <if test="divideInto !=null and divideInto !=''">
            divide_into=#{divideInto,jdbcType=VARCHAR},
        </if>
        <if test="isGoodSong !=null and isGoodSong !=''">
            is_good_song=#{isGoodSong,jdbcType=INTEGER},
        </if>
        <if test="isGoodSonger !=null and isGoodSonger !=''">
            is_good_songer=#{isGoodSonger,jdbcType=INTEGER},
        </if>
        <if test="sysDivideInto !=null and sysDivideInto !=''">
            sys_divide_into=#{sysDivideInto,jdbcType=VARCHAR},
        </if>
        business_id=#{businessId,jdbcType=INTEGER}
        where id =
        #{id,jdbcType=INTEGER}
    </update>
</mapper>