<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TwoMapper">
    <select id="selectByDZZBXX" parameterType="java.lang.Integer"
            resultType="pd">
        select
        *
        from DZZBXX
    </select>
    <insert id="insertBatch" parameterType="java.util.List"
            useGeneratedKeys="true">
        insert into PZFZMX
        (
        XZQHDM,
        XZQHMC,
        KJND,
        DWMC,
        DWDM,
        KJDZZBBH,
        KJDZZBMC,
        KJYF,
        PZLXBH,
        JZPZZL,
        JZPZBH,
        JZPZHH,
        FLXH,
        JZPZZY,
        KJTX,
        KJKMBM,
        KJKMMC,
        FZLX,
        FZBM,
        FZMC,
        FZQC,
        YJFZBM,
        EJFZBM,
        SJFZBM,
        SIJFZBM,
        WJFZBM,
        JFFSE,
        DFFSE,
        BZ,
        WBJFFSE,
        WBDFFSE,
        HL,
        SL,
        DJ
        )
        values
        <foreach item="item" index="index" collection="list" separator=",">
            (
            #{item.XZQHDM},
            #{item.XZQHMC},
            #{item.KJND},
            #{item.DWMC},
            #{item.DWDM},
            #{item.KJDZZBBH},
            #{item.KJDZZBMC},
            #{item.KJYF},
            #{item.PZLXBH},
            #{item.JZPZZL},
            #{item.JZPZBH},
            #{item.JZPZHH},
            #{item.FLXH},
            #{item.JZPZZY},
            #{item.KJTX},
            #{item.KJKMBM},
            #{item.KJKMMC},
            #{item.FZLX},
            #{item.FZBM},
            #{item.FZMC},
            #{item.FZQC},
            #{item.YJFZBM},
            #{item.EJFZBM},
            #{item.SJFZBM},
            #{item.SIJFZBM},
            #{item.WJFZBM},
            #{item.JFFSE},
            #{item.DFFSE},
            #{item.BZ},
            #{item.WBJFFSE},
            #{item.WBDFFSE},
            #{item.HL},
            #{item.SL},
            #{item.DJ})
        </foreach>
    </insert>
    <insert id="insertFZNCSBatch" parameterType="java.util.List"
            useGeneratedKeys="true">
        insert into FZNCS
        (
        XZQHDM,
        XZQHMC,
        KJND,
        DWMC,
        DWDM,
        KJDZZBBH,
        KJDZZBMC,
        KJYF,
        KJKMBM,
        KJKMMC,
        KJKMJC,
        KJTX,
        SFZDJKM,
        SJKMBM,
        FZLX,
        FZBM,
        FZMC,
        BZMC,
        YEFX,
        BBQCYE,
        QCSL,
        WBQCYE
        )
        values
        <foreach item="item" index="index" collection="list" separator=",">
            (
            #{item.XZQHDM},
            #{item.XZQHMC},
            #{item.KJND},
            #{item.DWMC},
            #{item.DWDM},
            #{item.KJDZZBBH},
            #{item.KJDZZBMC},
            #{item.KJYF},
            #{item.KJKMBM},
            #{item.KJKMMC},
            #{item.KJKMJC},
            #{item.KJTX},
            #{item.SFZDJKM},
            #{item.SJKMBM},
            #{item.FZLX},
            #{item.FZBM},
            #{item.FZMC},
            #{item.BZMC},
            #{item.YEFX},
            #{item.BBQCYE},
            #{item.QCSL},
            #{item.WBQCYE}
            )
        </foreach>
    </insert>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="pd">
		insert into YSDW (
		XZQHDM,
        XZQHMC,
        KJND,
        DWMC,
        DWDM,
        ZZJGDM
		)
		values (
		#{XZQHDM},
        #{XZQHMC},
        #{KJND},
        #{DWMC},
        #{DWDM},
        #{ZZJGDM}
		)
	</insert>
</mapper>