@charset "utf-8";
/* CSS Document */

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, lengend, button, input, textarea,
th, td {
    margin: 0;
    padding: 0;
}

body, button, input, select, textarea {
    font-family: microsoft yahei;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

h4, h5, h6 {
    font-size: 100%;
}

address, cite, dfn, em, var {
    font-style: normal;
}

code, kbd, pre, samp, tt {
    font-family: "Courier New", Courier, monospace;
}

small {
    font-size: 12px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: none;
    color: #666;
}

abbr[title], acronym[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

q:before, q:after {
    content: '';
}

legend {
    color: #000;
}

fieldset, img {
    border: none;
}

button, input, select, textarea {
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    border: none;
    height: 1px;
}

html {
    overflow-y: scroll;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    clear: both;
    content: ".";
    height: 0;
    visibility: hidden;
    display: block;
}

.clearit {
    clear: both;
    overflow: hidden;
    height: 0;
    font-size: 0;
}

.colorF0 {
    background: #f0f0f0;
}


@font-face {font-family: 'iconfont';
    src: url('iconfont/iconfont.eot'); /* IE9*/
    src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.topWrap{
    width:100%;
    height:30px;
    background:#f8f8f8;
}
.topWrap>.top{
    margin:0 auto;
    width:1200px;
    height:30px;
}
.topWrap>.top a:hover{
    color:#999;
}
.topWrap>.top>.topL{
    font-size:14px;
    color:#666;
    line-height:30px;
}
.topWrap>.top>.topL>a{
    font-size:14px;
    color:#666;
}
.topWrap>.top>.topL>a>i{
    vertical-align:middle;
    margin-left:8px;
}
.topWrap>.top>.topL>span{
    margin-right:19px;
}
.topWrap>.top>.topR{
    font-size:12px;
    color:#666;
    line-height:30px;
}
.topWrap>.top>.topR>a{
    margin-left:37px;
}
.topWrap>.top>.topR>a>.pic{
    margin:-5px 8px 0 0;
    display:inline-block;
    overflow:hidden;
    width:18px;
    height:18px;
    border-radius:50%;
    vertical-align:middle;
}
.topWrap>.top>.topR>a>.pic img{
    width:100%;
    height:100%;
}
.topWrap>.top>.topR>a.mr58{
    margin-right:58px;
}
.topWrap>.top1{
    position:relative;
    display:table;
    overflow:hidden;
    margin:0 auto;
    padding-top:11px;
    color:#fff;
}
.topWrap>.top1>span{
    display:inline-block;;
    margin:0 28px 0 0;
}
.topWrap>.top1>em{
    display:inline-block;
    width:1px;
    height:21px;
    background:#fff;
}
.topWrap>.top1>a{
    display:inline-block;
    font-size:14px;
    color:#ccc;
    vertical-align: middle;
    margin:-18px 0 0 20px;
}
.topWrap>.top1>a:hover{ color:#fff;}
.topWrap>.top1>a>i{
    font-size:25px;
    margin-right:5px;
}
.wrap{
    position:relative;
    overflow:hidden;
    width:100%;
}
.searchBox{
    margin:0 auto;
    overflow:hidden;
    width:1200px;
    height:154px;
}
.searchBox>.logo{
    display:block;
    margin:57px 0 0 17px;
    overflow:hidden;
    width:167px;
    height:60px;
}
.searchBox>.logo img{
    width:100%;
    height:100%;
}
.searchBox>.search{
    overflow:hidden;
    margin:40px 0 0 145px;
    width:595px;
}
.searchBox>.search>.button>a{
    display:block;
    float:left;
    overflow:hidden;
    width:80px;
    height:25px;
    line-height:25px;
    font-size:12px;
    color:#333;
    text-align:center;
}
.searchBox>.search>.button>a.cur,.searchBox>.search>.button>a:hover{
    background:#000;
    color:#fff;
}
.searchBox>.search>.input{
    position:relative;
    overflow:hidden;
    width:595px;
    height:36px;
}
.searchBox>.search>.input>input{
    padding-left:50px;
    width:448px;
    height:34px;
    border:1px solid #000;
    font-size:12px;
    color:#666;
}
.searchBox>.search>.input>a{
    display:block;
    width:95px;
    height:36px;
    line-height:36px;
    font-size:12px;
    color: #ffffff;
    text-align:center;
    background:#000;
}
.searchBox>.search>.input>i{
    position:absolute;
    top:5px;
    left:22px;
    font-size:20px;
    color:#666;
}
.searchBox>.search>.button_a{
    margin-top:10px;
    overflow:hidden;
}
.searchBox>.search>.button_a a{
    margin-right:30px;
    font-size:12px;
    color:#666;
}
.searchBox>.search>.button_a a:hover{
    color:#fb4b4b;
}
.searchBox>.search1{
    overflow:hidden;
    margin:65px 0 0 70px;
    width:295px;
}
.searchBox>.search1>.input{
    position:relative;
    overflow:hidden;
    width:295px;
    height:36px;
}
.searchBox>.search1>.input>input{
    padding-left:50px;
    width:148px;
    height:34px;
    border:1px solid #000;
    font-size:12px;
    color:#666;
}
.searchBox>.search1>.input>a{
    display:block;
    width:95px;
    height:36px;
    line-height:36px;
    font-size:12px;
    color: #ffffff;
    text-align:center;
    background:#000;
}
.searchBox>.search1>.input>i{
    position:absolute;
    top:5px;
    left:22px;
    font-size:20px;
    color:#666;
}
.searchBox>.shopCart{
    display:block;
    margin-top:65px;
    width:138px;
    height:34px;
    line-height:34px;
    font-size:14px;
    color:#333;
    text-align:center;
    background:#f8f8f8;
    border:1px solid #ebebeb;
}
.searchBox>.button_b{
    margin:72px 0 0 120px;
}
.searchBox>.button_b a{
    margin-right:50px;
    font-size:14px;
    color:#000;
}
.searchBox>.button_b a:hover{
    color:#999;
}
.searchBox>.shopCart>i{
    vertical-align:middle;
}
.searchBox>.shopCart>.i1{
    display:inline-block;
    position:relative;
    margin:-6px 10px 0 0px;
    font-size:18px;
}
.searchBox>.shopCart>.i1>span{
    display:block;
    position:absolute;
    top:5px;
    right:-5px;
    width:10px;
    height:10px;
    line-height:10px;
    font-size:10px;
    color:#fff;
    text-align:center;
    background:#fb4b4b;
    border-radius:50%;
}
.searchBox>.shopCart>.i2{
    display:inline-block;
    margin-top:-3px;
    font-size:10px;
}
.footWrap{
    margin-top:20px;
    width:100%;
    height:435px;
    background:#f5f5f5;
}
.footBox_a{
    margin:0 auto;
    width:1200px;
    height:210px;
}
.footBox_a dl{
    float:left;
    overflow:hidden;
    width:820px;
    margin-left:20px;
}
.footBox_a dl dd{
    float:left;
    margin-right:115px;
}
.footBox_a dl dd>h3{
    margin:50px 0 25px;
    font-size:14px;
    font-weight:normal;
    color:#000;
}
.footBox_a dl dd>a{
    display:block;
    font-size:12px;
    color:#666;
    line-height:25px;
}
.footBox_a dl dd>a:hover{
    color:#999;
}
.footBox_a>.card{
    margin:50px 0 0 35px;
    overflow:hidden;
    width:93px;
}
.footBox_a>.card>.pic{
    width:93px;
    height:93px;
}
.footBox_a>.card>p{
    margin-top:20px;
    font-size:14px;
    color:#666;
    text-align:center;
}
.footWrap>.line{
    overflow:hidden;
    width:100%;
    height:55px;
    background:#000;
}
.footWrap>.line>.lineBox{
    margin:0 auto;
    overflow:hidden;
    width:1200px;
}
.footWrap>.line>.lineBox span{
    display:block;
    float:left;
    width:25%;
    height:55px;
    line-height:55px;
    font-size:14px;
    font-weight:bold;
    color:#fff;
    text-align:center;
}
.footBox_b{
    margin:0 auto;
    padding-top:20px;
    overflow:hidden;
    width:1200px;
}
.footBox_b p{
    display:table;
    margin:0 auto;
    overflow:hidden;
    font-size:14px;
    line-height:40px;
    color:#666;
}
.footBox_b p a,.footBox_b p span{
    overflow:hidden;
    margin:0 15px;
    font-size:14px;
    color:#666;
}
