
/***********************************首页*************************************/
.WL-SY-main .mwRight { padding: 22px 0 0 0; }
.WL-SY-main .mwRight .weiZhi { width: 860px; height: 32px; line-height: 32px; border: 1px solid #e5e5e5; border-radius: 5px; text-indent: 15px; font-size: 15px; color: #999;  box-sizing: border-box; background: #FFF; }
.WL-SY-main .mwRight .con { padding: 100px 0 0 150px; }
.WL-SY-main .mwRight .con>div { float: left; margin: 0 53px 0 0; }
.WL-SY-main .mwRight .con>div>input { display: block; border: none; width: 270px; height: 140px; border-radius: 5px; font-size: 35px; color: #FFF; cursor: pointer; }
.WL-SY-main .mwRight .con .add input { background: url(../images/WL-icon06.png) no-repeat center 15px #FE6933; padding: 70px 0 0 0; }
.WL-SY-main .mwRight .con .look input { background: url(../images/WL-icon07.png) no-repeat center 15px #febe33;  padding: 70px 0 0 0; }




/***********************************订单管理*************************************/
.WL-DD-main .mwRight { padding: 22px 0 0 0; }
.WL-DD-main .mwRight .weiZhi { width: 860px; height: 32px; line-height: 32px; border: 1px solid #e5e5e5; border-radius: 5px; text-indent: 15px; font-size: 15px; color: #999;box-sizing: border-box; background: #FFF; }
.WL-DD-main .topTitle>div {float: left; padding: 20px 0 10px 0; font-size: 16px; }
.WL-DD-main .topTitle>div>select {  width: 136px; height: 32px; line-height: 32px; margin: 0 10px 0 0; border: 1px solid #e5e5e5; }
.WL-DD-main .topTitle .search input { width: 216px; height: 32px; line-height: 32px; border: none; background: #e5e5e5; margin: 0 5px 0 58px; font-size: 15px; border-radius: 3px; text-indent: 20px; }
.WL-DD-main .topTitle .search button { width: 75px; height: 32px; border: none; line-height: 32px; background: #0AB0D6; color: #FFF; border-radius: 3px; }
.WL-DD-main .info { border-radius: 5px; border: 1px solid #e5e5e5; box-sizing: border-box; width: 860px; background: #FFF; }
.WL-DD-main .info tr { height: 43px; line-height: 43px; text-align: center; }
.WL-DD-main .info .title {  border-bottom: 2px solid #e5e5e5; padding: 0; }
.WL-DD-main .info td { border-bottom: 1px solid #e5e5e5; } 
.WL-DD-main .info td>a { display: inline-block; margin: 0 8px; }
.WL-DD-main .info td .delate { color: #CB0000; }
.WL-DD-main .info td .check { color: #FD6933; }
.WL-DD-main .info .bottomCon { padding: 50px 20px; }
.WL-DD-main .info .bottomCon .add { float: left; }
.WL-DD-main .info .bottomCon .add input { display: block; width: 136px; height: 36px; background: url(../images/adddingdan.gif) no-repeat; border: none; cursor: pointer; }
.WL-DD-main .info .bottomCon .fenye { float: right; padding: 10px 0 0 0; }
.WL-DD-main .info .bottomCon .fenye span { cursor: pointer; }
.WL-DD-main .info .bottomCon .fenye .num a { margin: 0 5px; }
.WL-DD-main .info .bottomCon .fenye .num .current { color: #fe6933; }




/***********************************订单详情*************************************/
.WL-DDXQ-main .mwRight {padding: 22px 0 0 0; }
.WL-DDXQ-main .mwRight .weiZhi { width: 860px; height: 32px; line-height: 32px; border: 1px solid #e5e5e5; border-radius: 5px; text-indent: 15px; font-size: 15px; color: #999;box-sizing: border-box; background: #FFF; }
.WL-DDXQ-main .mwRight .con { border-radius: 5px; border: 1px solid #e5e5e5; box-sizing: border-box; width: 860px; background: #FFF; margin: 10px 0 0 0; padding: 30px 20px 0 }
.WL-DDXQ-main .mwRight .con .ddIndo { font-size: 15px; padding: 0 0 10px 0; border-bottom: 1px solid #e5e5e5; }
.WL-DDXQ-main .mwRight .con .ddIndo>p { line-height: 25px; }
.WL-DDXQ-main .mwRight .con .people { padding: 10px 0 0 0; }
.WL-DDXQ-main .mwRight .con .people>p { line-height: 25px; }
.WL-DDXQ-main .mwRight .con .baoguo { padding: 30px 0; }
.WL-DDXQ-main .mwRight .con .baoguo .bgWuliu { padding: 50px 0 0 55px; }
.WL-DDXQ-main .mwRight .con .baoguo .bgWuliu ul li { line-height: 25px; }
.WL-DDXQ-main .mwRight .con .baoguo .bgWuliu ul li span { margin: 0 0 0 30px; } 




/***********************************添加成功*************************************/
.WL-ADDO-main .mwRight {padding: 22px 0 0 0; }
.WL-ADDO-main .weiZhi { width: 860px; height: 32px; line-height: 32px; border: 1px solid #e5e5e5; border-radius: 5px; text-indent: 15px; font-size: 15px; color: #999;box-sizing: border-box; background: #FFF; }
.WL-ADDO-main .mwRight .con { border-radius: 5px; border: 1px solid #e5e5e5; box-sizing: border-box; width: 860px; background: #FFF; margin: 10px 0 0 0; padding: 50px 0 266px 280px; }
.WL-ADDO-main .mwRight .con .over { padding: 15px  0 58px 0; font-size: 25px; background: url(../images/WL-icon08.png) no-repeat; text-indent: 80px;} 
.WL-ADDO-main .mwRight .con .btn>button { width: 130px; height: 30px; line-height: 30px; border: none; margin: 0 20px 0 0; background: #f66200; color: #FFF; border-radius: 5px; }
.WL-ADDO-main .mwRight .con .btn .look {  background: none; color: #f66200; }




/***********************************添加订单*************************************/
.WL-ADD-main .mwRight { padding: 22px 0 0 0; }
.WL-ADD-main .weiZhi { width: 860px; height: 32px; line-height: 32px; border: 1px solid #e5e5e5; border-radius: 5px; text-indent: 15px; font-size: 15px; color: #999;box-sizing: border-box; background: #FFF; }
.WL-ADD-main .mwRight .con { border-radius: 5px; border: 1px solid #e5e5e5; box-sizing: border-box; width: 860px; background: #FFF; margin: 10px 0 0 0; }
.WL-ADD-main .mwRight .con .shoujianren { padding: 35px 0 0 35px; }
.WL-ADD-main .mwRight .con .jijianren { padding: 0 0 35px 35px; }
.WL-ADD-main .mwRight .con table tr { height: 42px; line-height: 42px; }
.WL-ADD-main .mwRight .con table tr input { width: 280px; height: 30px; line-height: 30px; border: 1px solid #e5e5e5; border-radius: 5px; }
.WL-ADD-main .mwRight .con table tr .xiangxi input {  width: 430px; }
.WL-ADD-main .mwRight .con table tr select { width: 140px; display: block;  border: 1px solid #e5e5e5; height: 30px; line-height: 30px;  }
.WL-ADD-main .mwRight .con .tijiao { text-align: center; padding: 0 0 30px 0; }
.WL-ADD-main .mwRight .con .tijiao a { display: inline-block; width: 200px; height: 45px; line-height: 45px; font-size: 20px; color: #FFF; background: #f66200; border-radius: 5px; }


* {
		margin:0;
		padding:0;
	}
	li{
		list-style:none
		}
	
	body {
		font:14px Verdana, Arial, Geneva, sans-serif;
		color:#404040;
		background:#f9f9f9;
	}
	img {
		border-style:none;
	}
	.main{
		width:400px;
		height:60px;
		position:absolute;
		left:10%;
		top:25%;
		
	}
	.box{
		position:relative;
		float:left;
	}
	.box img{
		float:left;
		margin-right:5px;
		width:36px;
		height:36px;
		}
	input.uploadFile{
		position:absolute;
		right:0px;
		top:0px;
		opacity:0;
		filter:alpha(opacity=0);
		cursor:pointer;
		width:276px;
		height:36px;
		overflow: hidden;
	}
	input.textbox{
		float:left;
		padding:5px;
		color:#999;
		height:24px;
		line-height:24px;
		border:1px #ccc solid;
		width:200px;
		margin-right:4px;
	}
	a.link{
		float:left;
		display:inline-block;
		padding:4px 16px;
		color:#fff;
		font:14px "Microsoft YaHei", Verdana, Geneva, sans-serif;
		cursor:pointer;
		background-color:#0099ff;
		line-height:28px;
		text-decoration:none;
	}
	.anniu ul li{
		float:left; 
		margin-right:3px;
	    padding:10px 10px; 
		color:#FFF; cursor:pointer;} 
    .anniu ul{
		position:absolute;
		top:55%;
		left:25%;
		}






