@charset "utf-8";
/* CSS Document */

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, lengend, button, input, textarea,
th, td {
    margin: 0;
    padding: 0;
}

body, button, input, select, textarea {
    font-family: microsoft yahei;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

h4, h5, h6 {
    font-size: 100%;
}

address, cite, dfn, em, var {
    font-style: normal;
}

code, kbd, pre, samp, tt {
    font-family: "Courier New", Courier, monospace;
}

small {
    font-size: 12px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: none;
    color: #666;
}

abbr[title], acronym[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

q:before, q:after {
    content: '';
}

legend {
    color: #000;
}

fieldset, img {
    border: none;
}

button, input, select, textarea {
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    border: none;
    height: 1px;
}

html {
    overflow-y: scroll;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    clear: both;
    content: ".";
    height: 0;
    visibility: hidden;
    display: block;
}

.clearit {
    clear: both;
    overflow: hidden;
    height: 0;
    font-size: 0;
}

.colorF0 {
    background: #f0f0f0;
}


.topWrap_a{
    width:100%;
    height:30px;
    background:#000;
}
.topWrap_a>.top{
    margin:0 auto;
    width:1200px;
    height:30px;
}
.topWrap_a>.top a{
    color:#fff;
}
.topWrap_a>.top a:hover{
    color:#FFF;
}
.topWrap_a>.top>.topL{
    font-size:14px;
    color:#fff;
    line-height:30px;
}
.topWrap_a>.top>.topL>a{
    font-size:14px;
    color:#fff;
}
.topWrap_a>.top>.topL>a>i{
    vertical-align:middle;
    margin-left:8px;
}
.topWrap_a>.top>.topL>span{
    margin-right:19px;
}
.topWrap_a>.top>.topR{
    font-size:12px;
    color:#666;
    line-height:30px;
}
.topWrap_a>.top>.topR>a{
    margin-left:37px;
}
.topWrap_a>.top>.topR>a>.pic{
    margin:-5px 8px 0 0;
    display:inline-block;
    overflow:hidden;
    width:18px;
    height:18px;
    border-radius:50%;
    vertical-align:middle;
}
.topWrap_a>.top>.topR>a>.pic img{
    width:100%;
    height:100%;
}
.topWrap_a>.top>.topR>a.mr58{
    margin-right:58px;
}
.wrap{
    position:relative;
    overflow:hidden;
    width:100%;
}
.centreTitle{
    margin:0 auto;
    overflow:hidden;
    width:1200px;
    height:120px;
}
.centreTitle_box{ background:#f8f8f8;  height:120px; margin-bottom:20px;}
.centreTitle>.pic{
    margin:30px 0 0 20px;
    overflow:hidden;
    width:167px;
    height:60px;
}
.centreTitle>.pic img{
    width:100%;
    height:100%;
}
.centreTitle>h3{
    margin:40px 0 0 30px;
    font-size:30px;
    font-weight:normal;
    color:#999;
}
.centreTitle>.text{
    margin-top:70px;
}
.centreTitle>.text a{
    margin-left:50px;
    font-size:14px;
    color:#333;
}
.centreTitle>.text a i{
    font-style:normal;
    margin-left:3px;
}
.centreTitle>.text a.cur,.centreTitle>.text a:hover{
    color:#fb4b4b;
}
.m_sellerLeft{
    margin-right:18px;
    padding-bottom:30px;
    overflow:hidden;
    float:left;
    width:140px;
    background:#f8f8f8;
    border:1px solid #eeeeee;
}
.m_sellerLeft ul li{
    margin-top:20px;
}
.m_sellerLeft ul li>h3{
    margin:0 auto 10px;
    display:block;
    overflow:hidden;
    width:95px;
    font-size:14px;
    color:#000;
    cursor:pointer;
    background:url("../images/arrow_down.png") no-repeat center right;
}
.m_sellerLeft ul li>h4{
    margin:0 auto 20px;
    display:block;
    overflow:hidden;
    width:95px;
    font-size:14px;
    color:#000;
    cursor:pointer;
}
.m_sellerLeft ul li>h4 a,.m_sellerLeft ul li>h4 a:hover{
    color:#000;
}
.m_sellerLeft ul li>h3.cur{
    background:url("../images/arrow_up.png") no-repeat center right;
}
.m_sellerLeft ul li>.list{
    margin-left:22px;
}
.m_sellerLeft ul li>.list a{
    display:block;
    line-height:40px;
    font-size:14px;
    color:#000;
}
.m_sellerLeft ul li>.list a.cur,.m_sellerLeft ul li>.list a:hover{
    color:#fb4b4b;
}













.footWrap{
    margin-top:20px;
    width:100%;
    height:435px;
    background:#f5f5f5;
}
.footBox_a{
    margin:0 auto;
    width:1200px;
    height:210px;
}
.footBox_a dl{
    float:left;
    overflow:hidden;
    width:820px;
    margin-left:20px;
}
.footBox_a dl dd{
    float:left;
    margin-right:115px;
}
.footBox_a dl dd>h3{
    margin:50px 0 25px;
    font-size:14px;
    font-weight:normal;
    color:#000;
}
.footBox_a dl dd>a{
    display:block;
    font-size:12px;
    color:#666;
    line-height:25px;
}
.footBox_a dl dd>a:hover{
    color:#999;
}
.footBox_a>.card{
    margin:50px 0 0 35px;
    overflow:hidden;
    width:93px;
}
.footBox_a>.card>.pic{
    width:93px;
    height:93px;
}
.footBox_a>.card>p{
    margin-top:20px;
    font-size:14px;
    color:#666;
    text-align:center;
}
.footWrap>.line{
    overflow:hidden;
    width:100%;
    height:55px;
    background:#000;
}
.footWrap>.line>.lineBox{
    margin:0 auto;
    overflow:hidden;
    width:1200px;
}
.footWrap>.line>.lineBox span{
    display:block;
    float:left;
    width:25%;
    height:55px;
    line-height:55px;
    font-size:14px;
    font-weight:bold;
    color:#fff;
    text-align:center;
}
.footBox_b{
    margin:0 auto;
    padding-top:20px;
    overflow:hidden;
    width:1200px;
}
.footBox_b p{
    display:table;
    margin:0 auto;
    overflow:hidden;
    font-size:14px;
    line-height:40px;
    color:#666;
}
.footBox_b p a,.footBox_b p span{
    overflow:hidden;
    margin:0 15px;
    font-size:14px;
    color:#666;
}
